WFdocEleks/Service References/DocEleksService/ServiceDocEleksDB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDocEleksDB" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35956/ServiceDocEleksDB.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35956/ServiceDocEleksDB.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35956/ServiceDocEleksDB.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DocEleksService" />
      <xsd:import schemaLocation="http://localhost:35956/ServiceDocEleksDB.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDocEleksDB_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_ValidUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidUser" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_ValidUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_ValidUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidUserName" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_ValidUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_InsertContact_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertContact" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_InsertContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertContactResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_DeleteContact_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContact" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_DeleteContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_UpdateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContact" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_UpdateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_GetAllContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContacts" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_GetAllContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_FindContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:FindContacts" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_FindContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_FindPhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="IServiceDocEleksDB_FindPhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDocEleksDB">
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDocEleksDB/InsertUser" message="tns:IServiceDocEleksDB_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDocEleksDB/InsertUserResponse" message="tns:IServiceDocEleksDB_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDocEleksDB/ValidUser" message="tns:IServiceDocEleksDB_ValidUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDocEleksDB/ValidUserResponse" message="tns:IServiceDocEleksDB_ValidUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDocEleksDB/ValidUserName" message="tns:IServiceDocEleksDB_ValidUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDocEleksDB/ValidUserNameResponse" message="tns:IServiceDocEleksDB_ValidUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDocEleksDB/InsertContact" message="tns:IServiceDocEleksDB_InsertContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDocEleksDB/InsertContactResponse" message="tns:IServiceDocEleksDB_InsertContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDocEleksDB/DeleteContact" message="tns:IServiceDocEleksDB_DeleteContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDocEleksDB/DeleteContactResponse" message="tns:IServiceDocEleksDB_DeleteContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDocEleksDB/UpdateContact" message="tns:IServiceDocEleksDB_UpdateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDocEleksDB/UpdateContactResponse" message="tns:IServiceDocEleksDB_UpdateContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDocEleksDB/GetAllContacts" message="tns:IServiceDocEleksDB_GetAllContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDocEleksDB/GetAllContactsResponse" message="tns:IServiceDocEleksDB_GetAllContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDocEleksDB/FindContacts" message="tns:IServiceDocEleksDB_FindContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDocEleksDB/FindContactsResponse" message="tns:IServiceDocEleksDB_FindContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDocEleksDB/GetUserId" message="tns:IServiceDocEleksDB_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDocEleksDB/GetUserIdResponse" message="tns:IServiceDocEleksDB_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindPhoneNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDocEleksDB/FindPhoneNumber" message="tns:IServiceDocEleksDB_FindPhoneNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDocEleksDB/FindPhoneNumberResponse" message="tns:IServiceDocEleksDB_FindPhoneNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDocEleksDB" type="tns:IServiceDocEleksDB">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IServiceDocEleksDB/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidUser">
      <soap:operation soapAction="http://tempuri.org/IServiceDocEleksDB/ValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidUserName">
      <soap:operation soapAction="http://tempuri.org/IServiceDocEleksDB/ValidUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertContact">
      <soap:operation soapAction="http://tempuri.org/IServiceDocEleksDB/InsertContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap:operation soapAction="http://tempuri.org/IServiceDocEleksDB/DeleteContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://tempuri.org/IServiceDocEleksDB/UpdateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContacts">
      <soap:operation soapAction="http://tempuri.org/IServiceDocEleksDB/GetAllContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindContacts">
      <soap:operation soapAction="http://tempuri.org/IServiceDocEleksDB/FindContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap:operation soapAction="http://tempuri.org/IServiceDocEleksDB/GetUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPhoneNumber">
      <soap:operation soapAction="http://tempuri.org/IServiceDocEleksDB/FindPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDocEleksDB">
    <wsdl:port name="BasicHttpBinding_IServiceDocEleksDB" binding="tns:BasicHttpBinding_IServiceDocEleksDB">
      <soap:address location="http://localhost:35956/ServiceDocEleksDB.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>